body {
    color: #0f5d88;
    font-family: 'Noto Sans',sans-serif;
}
/**********************************************************************/
/************************** COMMON ELEMENTS **************************/
/********************************************************************/
h1, h2, h3, h4, h5, h6 {
	color: #78ab46;
	font-family: 'Roboto Condensed',sans-serif;
}
p {
	line-height: 1.6;
	font-size: 16px;
}
a:focus {
    outline: none;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: none;
}
/** Custom styles **/
.vis-hidden {
	visibility: hidden !important;
}
a {
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
}
h2.sectionTitle {
	color: #115d88;
	font-size: 50px;
	margin-top: 0;
	text-align: center;
	font-weight: 700;
	margin-bottom: 50px;
}
h3.sectionTitle {
    text-align: center;
    margin-bottom: 50px;
    margin-top: -20px;
}
.altWrap {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	background-color: #f7f7f7;
}

/**********************************************************************/
/***************************** NAVBAR ********************************/
/********************************************************************/

.navbar {
	margin-bottom: 0;
}

.navbar-inverse {
	/**
	background: url(../assets/img/80.png);
	**/
	background: #020103;
	border: 0 none;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}
.navbar-brand {
	line-height: 1;
    height: 40px;
    margin-top: 14px;
    margin-bottom: 26px;
    padding: 0;
    width: 100%;
	font-size: 40px;
	letter-spacing: -2px;
	font-weight: 700;
}
.navbar-inverse .navbar-brand {
    color: #428BCA;
}
.navbar-inverse .navbar-brand .fa-stack {
	font-size: 28px;
}
.navbar-inverse .navbar-brand .title {
    color: #888;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    background: none;
    color: #428BCA;
}
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
    margin-left: 0;
}
.navbar-nav {
	float: right;
}
.navbar-inverse .navbar-nav > li > a {
	font-family: 'Roboto Condensed',sans-serif;
	color: #7cb744;
	display: block;
	font-size: 20px;
	font-weight: 400;
	padding: 30px 15px;
	text-shadow: none;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
    color: #428BCA;
}
.navbar-inverse .navbar-toggle {
	background: #FFFFFF;
    border: 0 none;
	margin: 19px 15px 19px 0;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #eee;
}
.navbar-inverse .navbar-toggle .icon-bar {
	background: #333;
}

/**********************************************************************/
/************************** JUMBOTRON ********************************/
/********************************************************************/

.jumbotron {
	background: url(../assets/img/bigBG_02.jpg) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 0;
	padding-top: 140px;
	color: #fff;
	margin-bottom: 0;
}
.jumbotron .mobile {
	/* background-image: url("../assets/img/mobile.png");
    background-repeat: no-repeat; */
    height: 499px;
    margin-left: -96px;
    margin-top: 0;
    overflow: hidden;
    width: auto;
}
.jumbotron h1 {
	color: #79b344;
	font-size: 72px;
	font-weight: 700;
	text-shadow: 0 1px 5px #222222;
}
.jumbotron h2 {
	color: #fff;
	font-weight: 300;
	text-shadow: 0 1px 5px #222222;
	margin-bottom: 30px;
}
.jumbotron .actionBtn .line1 {
	display: inline-block;
    font-size: 14px;
    font-weight: 400;
    width: 140px;
	margin-top: 10px;
}
.jumbotron .actionBtn .line2 {
	font-size: 28px;
    font-weight: 700;
	line-height: 1;
	
}

/**********************************************************************/
/************************** WHAT WE DO *******************************/
/********************************************************************/

#servicesWrap {
	padding-top: 60px;
	padding-bottom: 60px;
}
#servicesWrap .icon {
	-webkit-transition:All 0.2s linear;
	-moz-transition:All 0.2s linear;
	-o-transition:All 0.2s linear;
}
#servicesWrap .fa-stack.icnC {
    color: #428BCA;
    font-size: 74px;
}
#servicesWrap .icon {
	background-color: #428BCA;
    border: 4px solid #428BCA;
    border-radius: 50%;
    color: #FFFFFF;
    display: block;
    font-size: 80px;
    height: 148px;
    line-height: 140px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 148px;
}
#servicesWrap .icon:hover {
    color: #428BCA;
	background-color: #fff;
    cursor: default;
}
#servicesWrap h3 {
	font-weight: 700;
}

/**********************************************************************/
/************************ PRODUCT ************************************/
/********************************************************************/

#aboutWrap {
	padding-top: 60px;
	padding-bottom: 60px;
}
#aboutWrap .productFeatures {
	margin-top: 20px;
}
#aboutWrap .productFeatures h3 {
	margin-top: 0;
	color: #428BCA;
}
#aboutWrap .productFeatures p {
	margin-bottom: 50px;
}
#aboutWrap .productFeatures .icon {
	text-align: right;
	color: #428BCA;
	font-size: 20px;
}

/**********************************************************************/
/************************ PRICING ************************************/
/********************************************************************/

#pricingWrap {
	padding-top: 60px;
	padding-bottom: 60px;
}
#pricingWrap .priceTable {
	border: 1px solid #D9D9D9;
	border-radius: 4px;
	margin: 0;
	padding: 0;
	background: #fff;
	list-style: none outside none;
	text-align: center;
}
#pricingWrap .priceTable .title {
	color: #333333;
	font-size: 34px;
	font-weight: 700;
	padding: 20px 10px 0;
	font-family: 'Roboto Condensed',sans-serif;
}
#pricingWrap .priceTable .description {
    color: #777777;
    font-size: 14px;
	padding: 10px 10px 20px;
}
#pricingWrap .priceTable .price {
	background: #F2F2F2;
	border-bottom: 1px solid #E5E5E5;
	border-top: 1px solid #E5E5E5;
	color: #333333;
	font-size: 26px;
	margin-bottom: 20px;
	padding: 15px 10px;
}
#pricingWrap .priceTable ul.features {
    margin: 0;
    padding: 0;
	list-style: none outside none;
}
#pricingWrap .priceTable ul.features li {
	border-bottom: 1px dotted #D2D2D2;
    color: #333333;
    font-size: 16px;
    margin: 0 30px;
    padding: 15px 0;
    text-align: center;
}
#pricingWrap .priceTable .call {
	margin: 30px 10px;
}
#pricingWrap .priceTable .call .btn {
	width: 70%;
}
#pricingWrap .priceTable.alt {
	border-color: #428BCA;
	background: #428BCA;
}
#pricingWrap .priceTable.alt .title {
	color: #fff;
}
#pricingWrap .priceTable.alt .description {
    color: #fff;
}
#pricingWrap .priceTable.alt .price {
	background: #fff;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	color: #333333;
}
#pricingWrap .priceTable.alt ul.features li {
	border-bottom: 1px dotted #fff;
    color: #fff;
}
#pricingWrap .priceTable.alt .call .btn {
	background: #FFFFFF;
    border-color: #FFFFFF;
	color: #333;
}


/**********************************************************************/
/************************ TESTIMONIALS *******************************/
/********************************************************************/

#testimonialsWrap {
	padding-top: 60px;
	padding-bottom: 40px;
}
#testimonialsWrap .slides {
	text-align: center;
}
#testimonialsWrap .quote {
	color: #777777;
	font-size: 24px;
	font-style: italic;
	margin-bottom: 15px;
}
#testimonialsWrap .author {
	color: #428BCA;
	font-size: 20px;
}

/**********************************************************************/
/************************ CONTACT ************************************/
/********************************************************************/
#contactWrap {
	padding-top: 60px;
	padding-bottom: 60px;
}
#contactWrap .overlay {
    background: url("../assets/img/60.png");
	padding-bottom: 60px;
}
#contactWrap h2.sectionTitle {
    border-bottom: 1px solid #fff;
}
#contactWrap .blurb {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 40px;
}
#contactWrap label {

}
#contactWrap .form-control {
    border: 1px solid #c5c5c5;
    height: 38px;
    line-height: 38px;
    margin: 0 0 10px;
    padding: 8px 5px;
    width: 100%;
	border-radius: 0;
	color: #555;
	box-shadow: none;
}
#contactWrap .form-control:focus {
	border-color: #aaa;
    box-shadow: none;
}
#contactWrap textarea.form-control {
	margin: 0 0 10px;
    max-height: 300px;
    max-width: 100%;
    width: 100%;
	min-height: 120px;
}
#contactWrap button.btn {
    margin-top: 15px;
    width: 100%;
}

/**********************************************************************/
/************************* FOOTER ************************************/
/********************************************************************/
footer {
	background: #444;
	padding: 40px 0;
}
footer p {
	color: #ddd;
    font-weight: 300;
    margin: 0 0 20px 0;
	font-size: 16px;
}
footer .social {
	margin: 0;
}
footer .social a {
	color: #DDDDDD;
	text-decoration: none;
}
footer .social a:hover {
	color: #fff;
}
footer .social a .fa-inverse {
	color: #444;
}

/**********************************************************************/
/****************** MEDIA QUERIES ************************************/
/********************************************************************/
@media(max-width:1200px){
	.jumbotron .mobile {
		margin-left: -164px;
	}
}
@media(max-width:979px){
	.navbar-collapse {
		float: right;
	}
	.navbar-inverse .navbar-nav > li > a {
		font-size: 16px;
		padding: 25px 12px;
	}
	.navbar > .container .navbar-brand,
	.navbar > .container-fluid .navbar-brand {
		font-size: 28px;
		float: left;
		margin: 15px 0;
		width: auto;	
	}
	.navbar-inverse .navbar-brand .fa-stack {
		font-size: 22px;
	}
	.navbar-nav {
		float: left;
	}
	.jumbotron {
		padding-top: 100px;
	}
	.jumbotron .jumboText {
		text-align: center;
	}
	.jumbotron h1 {
		font-size: 64px;
	}
	.jumbotron .actionBtn {
		margin-bottom: 50px;
	}
	.jumbotron .mobile {
		margin-left: -48px;
	}
	#aboutWrap .imgWrap img {
		margin: 0 auto 60px;
	}
	#contactWrap .blurb {
		font-size: 20px;
	}

}
@media (max-width: 767px) {
	.navbar-collapse {
		float: none;
	}
	.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
		float: left;
		margin: 15px 0 15px 15px;
	}
	.navbar-inverse .navbar-nav > li > a {
		font-size: 14px;
		padding: 12px 15px;
	}
	.jumbotron {
		padding-left: 0;
		padding-right: 0;
	}
	.jumbotron h1 {
		font-size: 48px;
	}
	.jumbotron h2 {
		font-size: 22px;
	}
	
	#servicesWrap .feature {
		margin-bottom: 40px;
	}
	#aboutWrap .productFeatures .icon {
		font-size: 14px;
	}
	#pricingWrap .priceTable {
		margin-bottom: 60px;
	}
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

/* Slider */

.slick-slide {margin: 0px 20px;}  
.slick-slide img {width: 75%;}  
.slick-slider {position: relative;display: block;box-sizing: border-box;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-touch-callout: none;-khtml-user-select: none;-ms-touch-action: pan-y;touch-action: pan-y;-webkit-tap-highlight-color: transparent;}
.slick-list {position: relative;display: block;overflow: hidden;margin: 0;padding: 0;}
.slick-list:focus {outline: none;}  
.slick-list.dragging {cursor: pointer;cursor: hand;}  
.slick-slider .slick-track, .slick-slider .slick-list {-webkit-transform: translate3d(0, 0, 0);-moz-transform: translate3d(0, 0, 0);-ms-transform: translate3d(0, 0, 0);-o-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
.slick-track {position: relative;top: 0;left: 0;display: block;}  
  .slick-track:before,
  .slick-track:after {
	display: table;
	content: '';
  }
  
  .slick-track:after {
	clear: both;
  }
  
  .slick-loading .slick-track {
	visibility: hidden;
  }
  
  .slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
  }
  
  [dir='rtl'] .slick-slide {
	float: right;
  }
  
  .slick-slide img {
	/*display: block;*/
	vertical-align: middle;
    display: inline-block;
  }
  
  .slick-slide.slick-loading img {
	display: none;
  }
  
  .slick-slide.dragging img {
	pointer-events: none;
  }
  
  .slick-initialized .slick-slide {
	display: block;
  }
  
  .slick-loading .slick-slide {
	visibility: hidden;
  }
  
  .slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
  }
  
  .slick-arrow.slick-hidden {
	display: none;
  }
 




  .bg-white {
    background-color: #ffffff !important;
  }
  .bg-black {
    background-color: #000000 !important;
  }

  .navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}